on:
  pull_request:
  push:
    branches:
      - main
name: Tilt CI
jobs:
  tilt-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Create k8s cluster
        uses: AbsaOSS/k3d-action@v2.4.0
        with:
          cluster-name: cva-enduro-ci
          k3d-version: v5.8.3
          args: >-
            --registry-create cva-enduro-ci-registry
            --no-lb
            --k3s-arg "--disable=traefik,servicelb,metrics-server@server:*"
      - name: Install Tilt
        uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            tilt
          tilt: v0.35.2
      - name: Check tilt ci
        run: tilt ci
